.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 88px;
}

.section-categories {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 24px;
}

.options-categories a img {
  margin-bottom: 24px;
}

.package {
  text-decoration: none;
  color: var(--background-tertiary-color);
}

@media screen and (min-width: 768px) {
  .categories-aligh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .section-categories {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .categories-aligh {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
  }
  .section-categories {
    width: 280px;
  }
}
@media screen and (min-width: 1920px) {
  .section-categories {
    width: 280px;
  }
}
@media screen and (min-width: 2560px) {
  .section-categories {
    width: 450px;
  }
}
