.img-rodape {
  height: 400px;
  width: 100%;
  background: url(../img/img-rodape.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-container {
  text-align: center;
  background-color: var(--background-tertiary-color);
}

.footer-container p {
  font-size: 16px;
  color: var(--background-secondary-color);
  margin-bottom: 8px;
  line-height: 28px;
  margin: 0 40px;
}

.footer-img {
  width: 160px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.footer .midia {
  width: 32px;
  height: 32px;
  margin-top: 16px;
}

.footer .midia-paragrafo {
  margin-top: 32px;
}

@media screen and (min-width: 1024px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 52px;
  }

  .img-rodape {
    height: 600px;
  }

  .footer-aligh {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 451px;
  }

  .footer-img .footer-paragrafo {
    margin: 52px 120px 16px;
  }
  .footer-paragrafo p {
    margin: 0;
  }

  .midia-sociais {
    width: 245px;
    margin: 32px 120px;
  }
}
