.offers {
  margin-bottom: 100px;
}

.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-align {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card {
  color: var(--background-primary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: 400;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers {
    text-align: center;
    margin-bottom: 100px;
  }
  .offers-cards {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
    margin: 0 auto;
  }
  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    width: 580px;
  }
}

@media screen and (min-width: 2560px) {
  .card {
    width: 920px;
  }
}
