.content-text {
  margin-bottom: 24px;
}

.payments .img-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  width: 100%;
}

.image.people.large {
  grid-column: span 2;
}

.payments .payments-aligh .image.bag {
  background: url("../img/payments-1-mobile.jpg") no-repeat;
  background-size: cover;
}

.payments .payments-aligh .image.passport {
  background: url("../img/payments-2-mobile.jpg") no-repeat;
  background-size: cover;
}

.payments .payments-aligh .image.people {
  background: url("../img/payments-3-mobile.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .payments-aligh .image.bag {
    background: url("../img/payments-1-tablet.png") no-repeat;
    background-size: cover;
  }

  .payments .payments-aligh .image.passport {
    background: url("../img/payments-2-tablet.png") no-repeat;
    background-size: cover;
  }

  .payments .payments-aligh .image.people {
    background: url("../img/payments-3-tablet.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .payments .payments-aligh {
    display: flex;
  }

  .payments .payments-aligh {
    gap: 24px;
    justify-content: center;
  }

  .payments .payments-aligh .content-text {
    width: 360px;
    margin: 0;
  }
  .payments .payments-aligh .img-cont {
    width: 790px;
    margin: 0;
  }

  .payments .payments-aligh .content-title {
    margin: 0;
    margin-bottom: 24px;
  }
}
