header {
  padding: 0;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 8px;
}

.testimonial-container footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.testimonial-container footer img {
  width: 86px;
  height: 86px;
}

.testimonial-container footer .profile-content h4 {
  font-size: 20px;
  line-height: 36px;
  font-weight: var(--title-weight);
  margin: 0 0 8px;
}

.testimonial-container footer .profile-content .rating .star {
  font-size: 32px;
  color: var(--button-secondary-color);
  line-height: 32px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 1024px) {
  .testimonial-container {
    flex-direction: row;
  }
}
